body {
    margin: auto;
    width: 100%;
    height: auto;
    padding-top: 100px;
    font-family: 'Comic Sans MS';
    background-color: black;
    background-image: url("images/HVBbackground2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#section {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    background-color: #808080;
    color: #670067;
    margin: 12px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

    #section:hover {
        background-color: #a6a6a6;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }



.ibutton {
    display: inline-block;
    border-color: #7c7c7c;
    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25) 63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
    padding: 10px 20px;
}

@font-face {
    font-family: 'zoombieland';
    src: url(assets/zoombieland-font/Zoombieland-YzEGO.ttf);
}

h1 {
    font-family: zoombieland;
    font-size: 85px;
    color: #670067;
}

h2 {
  font-size: 40px;
}

#area {
  background-color: #c5c5c59a;
  padding: 10px;
}

#shad {
  text-shadow: 5px 2px #000000;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-containerScav {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto auto;
    background-color: #000000;
    padding: 10px;
}

.grid-itemScav {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  font-size: 30px;
  text-align: center;
}

.containerAsk label{
  display: inline-block;
  clear: left;
  width: 200px;
  text-align: right;
}

.containerAsk input {
  display: inline-block;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay9 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay10 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay11 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay12 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* Container needed to position the button. Adjust the width as needed */
.containerDrink {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.containerDrink img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.containerDrink .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0.425);
  color: #ffffff;
  font-size: 3vm;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.containerDrink .btn:hover {
  background-color: #4ca905;
}

 
#MM1 {
    visibility: visible;
}

#MM2 {
    visibility: visible;
}

#MM3 {
    visibility: visible;
}

#MM4 {
    visibility: visible;
}

#MM5 {
    visibility: visible;
}

#MM6 {
    visibility: visible;
}

#MM7 {
    visibility: visible;
}
